<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    
    <!--job1 setting-->
    <!--將藍燈結果update回本系統table(大表最後兩欄位)-->
    <bean id="targetClass" class="com.advantech.quartzJob.BwFieldSyncJob"/>
    
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="targetClass"/>
        <property name="targetMethod" value="syncBwData"/>
    </bean>

    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"/>
        <property name="cronExpression" value="0 0 0 ? * MON-SAT *"/>
    </bean>
    
    <!--job2 setting-->
    <!--上傳標工-->
    <bean id="targetClass2" class="com.advantech.quartzJob.StandardTimeUpload"/>
    
    <bean id="jobDetail2" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="targetClass2"/>
        <property name="targetMethod" value="uploadToMes"/>
    </bean>
    
    <bean id="cronTrigger2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail2"/>
        <property name="cronExpression" value="0 0 0 ? * SAT *"/>
    </bean>
    
    <!--job3 setting-->
    <!--備份資料-->
    <bean id="targetClass3" class="com.advantech.quartzJob.BackupDataToExcel"/>
    
    <bean id="jobDetail3" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="targetClass3"/>
        <property name="targetMethod" value="backupToDisk"/>
    </bean>
    
    <bean id="cronTrigger3" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail3"/>
        <property name="cronExpression" value="0 0 18 ? * MON-SAT *"/>
    </bean>

    <!--schedule jobs-->
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
<!--                <ref bean="cronTrigger"/>
                <ref bean="cronTrigger2"/>-->
                <!--<ref bean="cronTrigger3"/>-->
            </list>
        </property>
        <property name="schedulerName">
            <value>jobScheduler</value>
        </property>
        
        <property name="configLocation">
            <value>classpath:quartz.properties</value>
        </property>
    </bean>
    
</beans>