<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>CalculatorWSApplication</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
<!--    <listener>
        <listener-class>com.advantech.listener.QuartzContextListener</listener-class>
    </listener>-->
    <!--http://stackoverflow.com/questions/20326451/hide-jsp-extension-or-change-display-name-on-url-->
    
    <!--Global param-->
    <context-param>
        <param-name>pageTitle</param-name>
        <param-value>無效工時即時管理系統</param-value>
    </context-param>
    
    <context-param>
        <param-name>betaMode</param-name>
        <param-value>0</param-value>
    </context-param>

    <!--Filter chain-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.advantech.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!--Jsp url redirect setting-->
    <!--作業人員使用頁面-->
    <servlet>
        <servlet-name>bab</servlet-name>
        <jsp-file>/babpage_1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>bab</servlet-name>
        <url-pattern>/Bab</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>test</servlet-name>
        <jsp-file>/testpage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>cell</servlet-name>
        <jsp-file>/cellpage_beta.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cell</servlet-name>
        <url-pattern>/Cell</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Error</servlet-name>
        <jsp-file>/temp/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SysInfoOldUrl</servlet-name>
        <jsp-file>/temp/redirect.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SysInfoOldUrl</servlet-name>
        <url-pattern>/SysInfo</url-pattern>  
    </servlet-mapping>
    
    <!--幹部使用頁面-->
    <servlet>
        <servlet-name>TestTotal</servlet-name>
        <jsp-file>/pages/admin/testTotal1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestTotal</servlet-name>
        <url-pattern>/pages/admin/TestTotal</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TestTotalDetail</servlet-name>
        <jsp-file>/pages/admin/testTotal.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestTotalDetail</servlet-name>
        <url-pattern>/pages/admin/TestTotalDetail</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BabTotal</servlet-name>
        <jsp-file>/pages/admin/babTotal_1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BabTotal</servlet-name>
        <url-pattern>/pages/admin/BabTotal</url-pattern>   
    </servlet-mapping>
    
    <servlet>
        <servlet-name>sensordata</servlet-name>
        <jsp-file>/pages/admin/sensor.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sensordata</servlet-name>
        <url-pattern>/pages/admin/Sensor</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>barcodedata</servlet-name>
        <jsp-file>/pages/admin/barcode.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>barcodedata</servlet-name>
        <url-pattern>/pages/admin/Barcode</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SysInfo</servlet-name>
        <jsp-file>/pages/admin/sysInfo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SysInfo</servlet-name>
        <url-pattern>/pages/admin/SysInfo</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SensorAdjust</servlet-name>
        <jsp-file>/pages/admin/sensorAdjust.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SensorAdjust</servlet-name>
        <url-pattern>/pages/admin/SensorAdjust</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BarcodeAdjust</servlet-name>
        <jsp-file>/pages/admin/barcodeAdjust.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BarcodeAdjust</servlet-name>
        <url-pattern>/pages/admin/BarcodeAdjust</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TotalMap</servlet-name>
        <jsp-file>/pages/admin/totalMap.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TotalMap</servlet-name>
        <url-pattern>/pages/admin/TotalMap</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BabDetailInfo</servlet-name>
        <jsp-file>/pages/admin/babDetailInfo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BabDetailInfo</servlet-name>
        <url-pattern>/pages/admin/BabDetailInfo</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BabDetailInfo2</servlet-name>
        <jsp-file>/pages/admin/babDetailInfo_1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BabDetailInfo2</servlet-name>
        <url-pattern>/pages/admin/BabDetailInfo2</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BabLineProductivity</servlet-name>
        <jsp-file>/pages/admin/babLineProductivity.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BabLineProductivity</servlet-name>
        <url-pattern>/pages/admin/BabLineProductivity</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>FqcDashBoard</servlet-name>
        <jsp-file>/pages/admin/fqcDashBoard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FqcDashBoard</servlet-name>
        <url-pattern>/pages/admin/FqcDashBoard</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>FqcModelStandardTime</servlet-name>
        <jsp-file>/pages/admin/fqcModelStandardTime.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FqcModelStandardTime</servlet-name>
        <url-pattern>/pages/admin/FqcModelStandardTime</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>FqcRecord</servlet-name>
        <jsp-file>/pages/admin/fqcRecord.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FqcRecord</servlet-name>
        <url-pattern>/pages/admin/FqcRecord</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ModelSopRemark</servlet-name>
        <jsp-file>/pages/admin/modelSopRemark.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModelSopRemark</servlet-name>
        <url-pattern>/pages/admin/ModelSopRemark</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AssyDelete</servlet-name>
        <jsp-file>/pages/admin/assyDelete.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssyDelete</servlet-name>
        <url-pattern>/pages/admin/AssyDelete</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BabPassStationRecord</servlet-name>
        <jsp-file>/pages/admin/babPassStationRecord.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BabPassStationRecord</servlet-name>
        <url-pattern>/pages/admin/BabPassStationRecord</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BabPassStationExceptionReport</servlet-name>
        <jsp-file>/pages/admin/babPassStationExceptionReport.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BabPassStationExceptionReport</servlet-name>
        <url-pattern>/pages/admin/BabPassStationExceptionReport</url-pattern>  
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BabPreAssyProductivity</servlet-name>
        <jsp-file>/pages/admin/babPreAssyProductivity.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BabPreAssyProductivity</servlet-name>
        <url-pattern>/pages/admin/BabPreAssyProductivity</url-pattern>  
    </servlet-mapping>
    
    <!--Other setting-->
    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:servlet-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
</web-app>
